#barchart {
	top:100px;
	bottom: 100px; 
	left: 50px;
	right: 100px;
	float: right;

}

#choropleth_map {
	top:40px;
	bottom: 80x; 
	left: 20px;
	right: 100px; 
	float: left;
}

#linearregression {
	top:40px;
	bottom: 100px; 
	left: 20px;
	right: 100px;
	float: left;

}

/* layout  */
body{
	background-color: #faefcc;
  } 

.page{
	width: 2000px;  
	height: auto;  
	background-color: #faefcc;   
	margin: auto;
	padding: 50px;
	padding-top: 50px;
	padding-left: 110px;
	padding-right: 110px;
	padding-bottom: 50px;
 }

h1{text-align: center; font-family: "Arial";}
h2{font-family: "Arial";}
p{font-size: 20px; font-family: "Arial";}


