#choropleth_map {
	top:0px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	/* height: 800px;
	width: 500px; */
}

#scatter_plot {
	top:100px;
	bottom: 100px; 
	left: 100x;
	right: 100px;
	text-align: center;
	/* height: 800px; */
	/* width: 800px; */
}



h2 {text-align: left;}






