#choropleth_map {
	top:0px;
	bottom: 100px; 
	left: 100px;
	right: 100px;
	align-items: center;
	/* height: 800px;
	width: 800px; */
}

#scatter_plot {
	top:100px;
	bottom: 100px; 
	left: 100x;
	right: 100px;
	text-align: center;
	align-items: center;
	/* height: 800px;
	width: 800px; */
}


h1 {text-align: center;}
h2 {text-align: center;}




